
.nov{
    position: absolute;
  transform: rotate(20px);
  top: 10px;
  padding: 10px;
  transform: rotate(-10deg);
  font-size:15px !important;
  background-color: #F55050 !important;
  border-radius:20px;


}
.cart{
  background-color: white;
  cursor: pointer;
  transition: ease 1s;
} 
.cart:hover{
  transform: scale(0.95);
  transition: all 1s ease;
}
.desc:hover {
  
transform: rotate(0.8);
box-shadow: 3px 2px 2px 4px black;
cursor: pointer;


}