
{%extends 'base.html'%}
{%load static%}
   
{%block title %}
About
{%endblock%}
</head>
<body >
{%block body%}

  
  <div class="container p-5">
     <div class="alert my-5 alert-warning alert-dismissible fade show" role="alert1">
   <strong></strong>session about
   <button type="button" class="btn-close" data-bs-dismiss="alert1" aria-label="Close"></button>
 </div>

  </div>
  

  


<!-- main-->
<div class="container mt-2">
  <div class="row d-flex my-1  align-items-center justify-content-center">
    <div class="col-md-4 my-1">
      <img class="img-fluid" style="width: 600px;height: 400px;border-radius: 20px;box-shadow: 3px 2px 1px black;" src="{% static 'images/background/b2.jpg'%}" alt="">

    </div>
    <div class="col-md-8 text-ceneter p-4 ">
       <h1 class="text-center text-dark">About Our Fashion Store</h1>
    <p class="text-muted   text-center">We are a one-stop-shop for all your fashion needs. From casual wear to formal attire, we have it all!</p>
   
    </div>
  </div>
   





  </div>




  <div class="container-fluid  mt-5 h-100">
    <div class="container h-100">
                  <div class=" row  align-items-center justify-cotent-center">
                  
                      <div class=" col-12 col-lg-12 cart  ">
                            <h1 style="text-shadow:1px solid red" class="m-5 text-center text-info  fs-2 fw-bold">Who We Are?</h1>

                          
                        
                        <p id="main"  class="fs-5 fw-bold text-center fs-bold  w-100 rounded p-5 mb-5 border border-success shadow text-muted bg-light">
                        <strong class="text-center fs-1 w-100 text-dark h-1">
                          Fashion Store
                       </strong> <br> 
                     
                       Our fashion store is a one-stop destination for all your fashion needs. We offer a wide range of clothing and accessories for both men and women, ensuring that there is something for everyone. Our store is stocked with the latest styles and trends, making it easy for you to update your wardrobe and stay on-trend.

                       We have knowledgeable sales associates who are always on hand to assist you with finding the right clothing and accessories to suit your personal style.
                       
                       
                       
                       
                   
                           
                          </p>
                      
                      
                      </div>  
                    
  
                  </div>           
    </div> 
</div>

    <div style=" height:600px !important" class="container-fluid">
      <div class="row p-3 align-items-center justify-content-center">
      <h1 style="text-shadow:1px solid red" class="m-5 text-center text-info  fs-2 fw-bold">Our Services </h1>
      <div class=" g-3 col-12 col-md-3 cart ">
     
  <div class="card h-75   fs-5 text-muted">
  <div class="card-body"> 
                   <div class="card-title text-center mx-auto w-50 h-25">
                    <h1 class="text-primary" ><i class="bi fs-1 fw-bold bi-person-workspace img-fluid  "></i></h1>

                </div>
                <div class="card-titleext-center text-warning mx-auto text-decoration-underline w-50 h-25">
                Fashion
                  
                </div>
                  <div   class="card-text">
                  "We are a fashion store that offers a wide range of clothing and accessories for women and men. Our mission is to help you look and feel your best, no matter the occasion.
                  </div>
                
                </div>
                <a href="/shop" class="text-decoration-none service">
                  <div class=" fs-5  card-footer text-primary  text-center  fw-bold">
                Shop Now
                  </div>
             </a>   
               

               

</div>
</div>
<div style="height:400px !important;" class=" g-3 col-12 cart col-md-4 ">

  <div class="card h-100   fs-5 text-muted">

  <div class="card-body"> 
              <div class="card-title text-center mx-auto w-50 h-25">
                    <h1 class="text-primary" ><i class="bi fs-1 fw-bold bi-person-workspace img-fluid  "></i></h1>

                </div>
                <div class="card-title text-center text-warning mx-auto text-decoration-underline w-50 h-25">
                Fashion Team 
                  
                </div>
                  <div   class="card-text">
                  "Our team consists of fashion experts and friendly customer service representatives who are here to help you every step of the way. "
                  </div>
                
                </div>
              <a href="/shop" class="text-decoration-none service">

                <div class="  fs-5 card-footer text-primary text-center  fw-bold">
             Shop Now
                </div>
              
              </a>
                 

</div>

</div>
  
<div class=" g-3 col-12 col-md-3 cart ">
  
  <div  class="card h-100   fs-5 text-muted">

  <div class="card-body"> 
            <div class="card-title text-center mx-auto w-50 h-25">
                    <h1 class="text-primary" ><i class="bi fs-1 fw-bold bi-person-workspace img-fluid  "></i></h1>

                </div>
                <div class="card-title text-center text-warning mx-auto text-decoration-underline w-50 h-25">
               Secure Shopping              
                </div>
                  <div   class="card-text">
                  "We believe that fashion should be fun and stress-free, and we are dedicated to making sure that your shopping experience with us is nothing less than amazing"
                  </div>
                
                </div>
                <a href="/shop" class="text-decoration-none service">
                <div class=" fs-5  card-footer text-primary  text-center  fw-bold">
              Shop Now
                </div>
           </a>   
                  

</div>

</div>


   
<div  class="container my-4">

<div class="row d-flex align-items-center justify-content-center">

 




<h1 style="text-shadow:1px solid red" class="m-5 text-center text-info  fs-2 fw-bold">Don't Forget To Share </h1>
<div class="container d-flex justify-content-center">

<a  class=""href="https://www.facebook.com/sharer/sharer.php?u=https://www.scolarshipapplication.com" target="_blank">
<i class="bi m-2 fs-1 fw-bold bi-facebook"></i>
</a>



<a href="https://www.youtube.com/channel/UCmKzHOR8eCiewGO-56oX4Pw">
<i class="bi m-2  fs-1 fw-bold text-danger bi-youtube"></i>
</a>
<a href="https://twitter.com/intent/tweet?url=https://www.scolarshipapplication.com&text=Check%20out%20this%20website!" target="_blank">
<i class="bi  m-2   bi-twitter  fs-1 fw-bold"></i>
</a>

</div>
          

      </div>

</div>










  <script src="https://kit.fontawesome.com/yourfontawesomekitid.js" crossorigin="anonymous"></script>
</body>
</html>




<!-- footer-->

<div class="container-fluid my-5">
  {% include "footer.html" %}  
</div>

<!---search model--->

{% include "search.html" %}  



{%endblock%}
</body>
</html>