{%load static %}
<!DOCTYPE html>
    <!-- Coding by CodingLab | www.codinglabweb.com -->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responsive Card Slider</title>

        <!-- Swiper CSS -->
        <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">

        <!-- CSS -->
        <link rel="stylesheet" href="../static/css/style.css">
                                        
    </head>
    <body>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
            
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{% static 'images/people/nki.jpg'%}" alt="" class="card-img">
                            </div>
                        </div>

<a href="/message/adore?id=1" style="text-decoration: none;" class="adore" id="heart"  data-id="1">
                            <button type="submit" class="btn btn-link">
                              <i class="bi btn btn-outline-danger bi-heart-fill"></i>
                            </button>
                            <small style="color:black" class="font-roboto">
                              10K
                            </small>
                          </a>
                          
                          



                        <div class="card-content">
                            <h2 class="name">sabri abdelaaziz</h2>
                            <p class="description">Good job continue you can do it</p>

                            <button class="button">View More</button>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{% static 'images/people/nki.jpg'%}" alt="" class="card-img">
                            </div>
                        </div>

<a href="/message/adore?id=1" style="text-decoration: none;" class="adore" id="heart"  data-id="2">
                            <button type="submit" class="btn btn-link">
                              <i class="bi btn btn-outline-danger bi-heart-fill"></i>
                            </button>
                            <small style="color:black" class="font-roboto">
                              10K
                            </small>
                          </a>
                          
                          



                        <div class="card-content">
                            <h2 class="name">sabri abdelaaziz</h2>
                            <p class="description">Good job continue you can do it</p>

                            <button class="button">View More</button>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{% static 'images/people/nki.jpg'%}" alt="" class="card-img">
                            </div>
                        </div>

<a href="/message/adore?id=1" style="text-decoration: none;" class="adore" id="heart"  data-id="3">
                            <button type="submit" class="btn btn-link">
                              <i class="bi btn btn-outline-danger bi-heart-fill"></i>
                            </button>
                            <small style="color:black" class="font-roboto">
                              10K
                            </small>
                          </a>
                          
                          



                        <div class="card-content">
                            <h2 class="name">sabri abdelaaziz</h2>
                            <p class="description">Good job continue you can do it</p>

                            <button class="button">View More</button>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{% static 'images/people/nki.jpg'%}" alt="" class="card-img">
                            </div>
                        </div>

<a href="/message/adore?id=1" style="text-decoration: none;" class="adore" id="heart"  data-id="4">
                            <button type="submit" class="btn btn-link">
                              <i class="bi btn btn-outline-danger bi-heart-fill"></i>
                            </button>
                            <small style="color:black" class="font-roboto">
                              10K
                            </small>
                          </a>
                          
                          



                        <div class="card-content">
                            <h2 class="name">sabri abdelaaziz</h2>
                            <p class="description">Good job continue you can do it</p>

                            <button class="button">View More</button>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="{% static 'images/people/nki.jpg'%}" alt="" class="card-img">
                            </div>
                        </div>

<a href="/message/adore?id=1" style="text-decoration: none;" class="adore" id="heart"  data-id="5">
                            <button type="submit" class="btn btn-link">
                              <i class="bi btn btn-outline-danger bi-heart-fill"></i>
                            </button>
                            <small style="color:black" class="font-roboto">
                              10K
                            </small>
                          </a>
                          
                          



                        <div class="card-content">
                            <h2 class="name">sabri abdelaaziz</h2>
                            <p class="description">Good job continue you can do it</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                    



                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>


        <script>


            
    function handleLinkClick(event) {
        event.preventDefault();
        
        var targetId = decodeURIComponent(event.currentTarget.getAttribute('href')).split('?id=')[1];
        var scrollPosition = window.pageYOffset;
        
        history.pushState(null, null, event.currentTarget.getAttribute('href'));
        
        var intervalId = setInterval(function() {
          var targetElement = document.getElementById(targetId);
          if (targetElement) {
            targetElement.scrollIntoView({behavior: 'smooth', block: 'start'});
            
            window.scroll(0, scrollPosition);
            
            clearInterval(intervalId);
     
            var messageId = event.currentTarget.getAttribute('data-id');
            fetch('/message/adore?id=' + messageId, {
              method: 'POST'
            });
          }
        }, 100);
     }
          

        </script>
        
  
    <!-- Swiper JS -->
    <script src="{% static 'js/swiper-bundle.min.js'%}"></script>

    <!-- JavaScript -->
    <script src="{% static 'js/script.js'%}"></script>
    </body>

</html>