{%load static%}
<footer style="background: #E3E6E3 !important;border-top:2px solid black !important;margin-bottom: 0;" id="footer" class="footer w-100 my-4  p-4">
    <div class="row d-flex align-items-center justify-content-around ">
   
      <div class="col-12 text-center col-md-6">
        <h1 class="text-center text-dark lead fs-2 w-100 p-3">   Paiment tools </h1>
 <div class="text-center   btn-group   my-2">
      
        
    <img src="{%static 'images/icons/pay.png'%}" alt="payment tools">

    </div>
      </div>


      <div class="col-12 text-center col-md-6">
        <h1 class="text-center text-dark lead fs-2 w-100 p-3">  Contact Us </h1>
 <div class="text-center  btn-group p-2  my-2">
      
        
      <a  style="border-radius:50%" href="" class=" btn btn-primary  mx-2 " title="our facebook group">  <i class="bi fs-2 bi-facebook"></i></a>
     <a  style="border-radius:50%" href="" class="  btn btn-danger border  mx-2 " title=" our youtube channel"><i class="bi fs-2 bi-youtube"></i></a>
   <a style="border-radius:50%" href="" class="  btn btn-warning border  mx-2  " title="contact us at email"><i class="bi fs-2 bi-envelope"></i></a>
   <a style="border-radius:50%" href="" class="  btn btn-success border  mx-2 " title="contact us at whatssap"><i class="bi fs-2 bi-whatsapp "></i></a>

  
    </div>
      </div>




    </div>
 
    <div class="text-center">
 
  
    </div>
    <p class="text-center text-dark ">  &copy;All-Right-reserved-2023


  </footer>






<!-- Button trigger modal -->

 


             
            
            
            
            
            
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
            
               
                











    </div>
  </div>
  




















    </div>
  </div>
  



















